<table>
  <tr>
    <td>station_id</td>
    <td>station_name</td>
    <td>area_id</td>
  </tr>
  
  <% @stations.each do |station| %>
    <tr>
      <td><%= link_to station.station_id, station_path(station) %></td>
      <td><%= station.station_name %></td>
      <td><%= station.area_id %></td>
    </tr>
  <% end %>
</table>
