<h2><%= @station_name_kana %></h2>

<table class="table">
  <thead>
    <tr>
      <th>station_id</th>
      <th>station_name</th>
      <th>station_name_ascii</th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
	<td><%= station.area_id %></td>
	<td><%= link_to station.station_name, station_path(station) %></td>
	<td><%= station.station_name_ascii %></td>
      </tr>
    <% end %>
  </tbody>
</table>
