<header>
  <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav navbar-right">
	<li><%= link_to "Radikko", root_path %></li>
	<li><%= link_to "Area", areas_path %></li>
	<li><%= link_to "Station", stations_path %></li>
      </ul>
    </div>
  </div>
</header>
